body{
	margin:0.2px;
}

*{
	box-sizing: border-box;
}

.header{
	background-color:#bbc2c2;
	text-align: center;
	padding: 20px;
}
/*.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow : hidden;
	top:0;
	position: sticky;
	background-color: #333;
}
.nav a{
	float: left;
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	color: white;
	padding: 8px 15px;
}
.nav a:hover:not(#active){
	background-color: black;
	color:white;
}*/

li #active{
	text-decoration: none;
	font-size: 1rem;
	color: white;
}
.nav-item a:hover:not(#active){
	color:#20ff00 !important;
	text-decoration: underline;
	/*background-color:black;*/
}
.nav-item{
	margin-left:10px;
	padding:0 !important;
}

#hus{
	font-size:35px;
	font-weight:bold;
	color:#00ff00;
}
.navbar-brand{
	font-weight:bold;
	font-family: Itim,Helvetica,"Trebuchet MS", sans-serif;
	font-variant: small-caps;
}