
body{
	margin: 0px;
	background-size: cover;
	background-image:url(../images/hu.jpg);
	background-color:light blue;
}

.header{
	background-image: url(../images/hu.jpg);
	background-size: auto;
	background-repeat: none;
	text-align: center;
	padding: 1px;
}

*{
	box-sizing: border-box;
}

h1,h2{
	font-family: Itim, Helvetica,"Trebuchet MS", sans-serif;
	font-size : 40px;
	font-variant: small-caps;
}
h3{
	font-family : arial;
	font-weight: bolder;
	font-size: 17px;
}
p#about{
	font-family : arial;
	font-weight: bolder;
	font-size: 15px;
}
.nav{
	list-style-type: none;
	margin:0;
	padding:0;
	overflow: hidden;
	top:0;
	position: sticky;
	background-color: #333;
}

.nav a{
	float: left;
	text-decoration: none;
	display: inline-block;
	color: white;
	border: none;
  	padding: 9px 17px;
	font-size: 1rem;
    font-weight: bold;
    border-radius: 3px;
}

.nav a:hover{
    background-color: black;
    color: white;  
}

img{
	max-width: 100%;
	height: auto;
	border: 1px solid #ddd;
	border-radius: 5px;
}

@media only screen and (max-width:768px){
	.nav a{
		float:none;
		width:100%;
	}
}
