.button{
	display: inline-block;
	color:black;
	border: 1px solid #ccc;
  	padding:7px 15px;
    font-weight: bold;
    border-radius: 3px;
}

.button:hover{
    border:2px solid #fff;
    background-color: gray;
    color: white;  
}

#reg input[type]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#reg input[type]:focus{
	border: 2px solid #0D98BA;
}
input[type=submit]{
	width: 100%;
	font-weight: bold;
	background-color: #0D98BA;
	color: #ffffff;
	padding: 14px 20px;
	margin: 8px 0;
	border: 2px solid #0D98BA !important;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover{
	background-color: #0D98BA;
	font-weight: bold;
	color: #fff;
}

a{
	color: blue;
	text-decoration:none;
}
a:hover,a:active{
	color: blue;
	text-decoration: underline;
}
table{
	background-color: #d3d3d3;
	border-radius: 4px;
	height: 60%;
	width: 50%;
}

#msg{
	display: none;
	margin-top: 10px;
	margin-left: 25%;
	background-color: #d3d3d3;
	font-weight: bold;
	height: 60%;
	width: 50%;
}

#msg p{
	margin-left: 5px;
	padding: 1px 12px;
}
.invalid{
	color: red;
}

